In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random
from pprint import pprint
import time

## Greentime dataframe processing

In [2]:
dfg = pd.read_pickle('dataframes/greentimes600.pkl')

In [3]:
dfg.head()

   timestep       cell  is_green
0        13  (1, 0, 1)       0.0
1        25  (1, 1, 0)       0.0
2         6  (0, 0, 0)       0.0
3        26  (1, 1, 1)       1.0
4        29  (0, 1, 0)       0.0

In [49]:
dfg_matrix = dfg.sort_values(by='timestep').pivot(index='timestep', columns='cell', values='is_green').astype('int16')

dfg_matrix

cell,"(0, 0, 0)","(0, 0, 1)","(0, 1, 0)","(0, 1, 1)","(1, 0, 0)","(1, 0, 1)","(1, 1, 0)","(1, 1, 1)"
timestep,,,,,,,,
0,0,0,1,0,0,0,0,1
1,0,0,1,0,0,0,0,1
2,0,1,0,0,0,1,0,0
3,0,1,0,0,0,1,0,0
4,0,1,0,0,0,1,0,0
5,0,0,1,0,0,0,1,0
6,0,0,1,0,0,0,1,0
7,0,0,1,0,0,0,1,0
8,1,0,0,0,1,0,0,0
9,1,0,0,0,1,0,0,0
10,1,0,0,0,1,0,0,0
11,1,0,0,0,1,0,0,0
12,0,0,0,1,0,0,0,1
13,0,0,0,1,0,0,0,1
14,0,0,0,1,0,0,0,1
15,0,1,0,0,0,1,0,0
16,0,1,0,0,0,1,0,0
17,0,1,0,0,0,1,0,0
18,0,0,1,0,0,0,1,0
19,0,0,1,0,0,0,1,0
20,0,0,1,0,0,0,1,0
21,0,0,1,0,0,0,1,0
22,1,0,0,0,1,0,0,0
23,1,0,0,0,1,0,0,0
24,1,0,0,0,1,0,0,0
25,0,0,0,1,0,0,0,1
26,0,0,0,1,0,0,0,1
27,0,0,0,1,0,0,0,1
28,0,0,1,0,0,0,1,0
29,0,1,0,0,0,1,0,0

In [50]:
timerange, phases = dfg_matrix.shape

In [53]:
# dfg_matrix.iloc[0,:] = [2]*phases

for t in range(1,timerange):
    for p in range(phases):
        if dfg_matrix.iloc[t,p] == 1 and dfg_matrix.iloc[t-1,p] == 0:
            dfg_matrix.iloc[t,:] = [2]*phases

In [54]:
dfg_matrix

cell,"(0, 0, 0)","(0, 0, 1)","(0, 1, 0)","(0, 1, 1)","(1, 0, 0)","(1, 0, 1)","(1, 1, 0)","(1, 1, 1)"
timestep,,,,,,,,
0,2,2,2,2,2,2,2,2
1,0,0,1,0,0,0,0,1
2,2,2,2,2,2,2,2,2
3,0,1,0,0,0,1,0,0
4,0,1,0,0,0,1,0,0
5,2,2,2,2,2,2,2,2
6,0,0,1,0,0,0,1,0
7,0,0,1,0,0,0,1,0
8,2,2,2,2,2,2,2,2
9,1,0,0,0,1,0,0,0
10,1,0,0,0,1,0,0,0
11,1,0,0,0,1,0,0,0
12,2,2,2,2,2,2,2,2
13,0,0,0,1,0,0,0,1
14,0,0,0,1,0,0,0,1
15,2,2,2,2,2,2,2,2
16,0,1,0,0,0,1,0,0
17,0,1,0,0,0,1,0,0
18,2,2,2,2,2,2,2,2
19,0,0,1,0,0,0,1,0
20,0,0,1,0,0,0,1,0
21,0,0,1,0,0,0,1,0
22,2,2,2,2,2,2,2,2
23,1,0,0,0,1,0,0,0
24,1,0,0,0,1,0,0,0
25,2,2,2,2,2,2,2,2
26,0,0,0,1,0,0,0,1
27,0,0,0,1,0,0,0,1
28,2,2,2,2,2,2,2,2
29,0,1,0,0,0,1,0,0

In [37]:
dfg_matrix[(1,0,1)].astype('int16').values

array([0, 0, 2, 1, 1, 2, 0, 0, 2, 0, 0, 0, 2, 0, 0, 2, 1, 1, 2, 0, 0, 0,
       2, 0, 0, 2, 0, 0, 2, 1], dtype=int16)